  nav{
    background:#e8c8c8;
    padding:10px 20px;
    animation: slideIn 1s ease;
    }
    .nav-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.logo{
    color:white;
    font-size:22px;
    font-weight:bold;
}
ul{
    list-style:none;
    display:flex;
    margin:0;
    padding:0;
}

ul li{
    position:relative;
}

ul li a{
    text-decoration:none;
    color:white;
    padding:10px 15px;
    display:block;
    transition:background 0.3s;
}

ul li a:hover{
    background:#444;
}

/* dropdown */

.dropdown{
    position:absolute;
    top:100%;
    left:0;
    background:#333;
    min-width:160px;
    display:none;
}

.dropdown a{
    padding:10px;
}


li:hover .dropdown{
    display:block;
}

.dropdown{
    transition:all 0.3s ease;
}


@keyframes slideIn{
    from{
        transform:translateY(40px);
        opacity:0;
    }
    to{
        transform:translateY(0);
        opacity:1;
    }
}
@media(max-width:768px){

    .nav-container{
        flex-direction:column;
        align-items:flex-start;
    }

    ul{
        flex-direction:column;
        width:100%;
    }

    ul li{
        width:100%;
    }
    .dropdown{
        position:relative;
        width:100%;
    }
}